<!-- This component only supports up 4 entries on this timeline. More mess up the styling. -->

<div class="h-timeline-container">
  <h1 class="timelineTitle">
    <fa-icon [icon]="faGraduationCap"></fa-icon>
    {{ 'main.studies.title' | translate }}
  </h1>
  <div class="timeline">
    <div class="timelineLine"></div>

    <ng-container *ngFor="let entry of timelineEntries; let index = index">

      <div [ngClass]="getClass(index, timelineEntries.length)">
        <ng-container *ngIf="index % 2 === 0 else bottomDesign">
          <div class="top">
            <div class="location">
              {{ entry.location }}
            </div>
            <div class="date">
              {{ entry.date }}
            </div>
          </div>
          <div class="triangleUp"></div>
          <div class="bottom">
            <div class="title" *ngIf="!isSmallScreen">
              {{ entry.title }}
              <div class="small">
                {{ entry.smallTitle }}
              </div>
            </div>
            <div class="title" *ngIf="isSmallScreen" (click)="openModal(index)">
              <fa-icon [icon]="faSchool"></fa-icon>
            </div>
          </div>
        </ng-container>
      </div>

      <ng-template #bottomDesign>
        <div class="top">
          <div class="title" *ngIf="!isSmallScreen">
            {{ entry.title }}
            <div class="small">
              {{ entry.smallTitle }}
            </div>
          </div>
          <div class="title" *ngIf="isSmallScreen" (click)="openModal(index)">
            <fa-icon [icon]="faSchool"></fa-icon>
          </div>
        </div>
        <div class="triangleDown"></div>
        <div class="bottom">
          <div class="location">
            {{ entry.location }}
          </div>
          <div class="date">
            {{ entry.date }}
          </div>
        </div>
      </ng-template>

    </ng-container>

  </div>
</div>
