$main-color: #027373;
$main-color-light: #07a8a8;
$main-color-light-light: #02b4b5;
$main-color-dark: #035159;
$main-background: #f1efed;
$light-background: white;
$font-color: #999794;
$font-second-color: black;
