@import "src/styles/colors";

.main {
  background-color: $main-background;
  padding-bottom: 15em;

  #page-1 {
    padding-bottom: -75px;
  }

  #page-2 {
    padding-bottom: 150px;
    padding-top: 75px;
  }

  .split-container {
    width: 833px;
    margin: auto;
    display: flex;

    .left {
      width: 50%;
    }

    .right {
      width: 50%;

      .logo-container {
        text-align: center;
        img {
          margin: auto;
          padding: 2px 8px;
        }
      }

      .description-container {
        text-align: center;
        font-weight: bold;
        margin-top: 12px;
      }
    }
  }

  .row-entry {
    width: 833px;
    margin: auto;
  }

  .text {
    color: $font-color;
    text-align: justify;
    text-justify: inter-word;
  }

  .preferenceTitle {
    text-align: right;
    width: 833px;
    color: $main-color-dark;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

    .ng-fa-icon {
      color: $font-color;
    }
  }

  .skillsTitle {
    width: 833px;
    color: $main-color-dark;
    margin-bottom: 0.5em;

    .ng-fa-icon {
      color: $font-color;
    }
  }
}


@media screen and (max-width: 1000px) {
  .main {
    padding-bottom: 25em;
  }
  .row-entry {
    width: 100% !important;
  }


  .marginIfSmall {
    margin-top: 2em !important;
  }

  .preferenceTitle,
  .skillsTitle {
    text-align: center !important;
    width: 100% !important;
  }

  .split-container {
    width: 100% !important;
    flex-direction: column !important;

    .left {
      width: 100% !important;
      padding: 0px 40px;
    }

    .right {
      width: 100% !important;
      padding: 0px 40px;
    }
  }
}
