<div class="main">

  <app-titlebar></app-titlebar>
  <app-horizontal-timeline [timelineEntries]="horizontalTimelineEntries"></app-horizontal-timeline>
  <app-timeline [timelineEntries]="timelineEntries"></app-timeline>

  <div class="row-entry">
    <h1 class="skillsTitle">
      <fa-icon [icon]="faCog"></fa-icon>
      {{ 'main.competencies.title' | translate }}
    </h1>
  </div>

  <div class="split-container">
    <div class="left">
      <app-skills [skills]="skills"></app-skills>
    </div>

    <div class="right text marginIfSmall">
      <p>
        {{ 'main.competencies.paragraph-1' | translate }}
      </p>
      <p>
        {{ 'main.competencies.paragraph-2' | translate }}
      </p>
    </div>
  </div>

  <div class="row-entry" style="margin-top: 5em">
    <h1 class="preferenceTitle">
      {{ 'main.preferences.title' | translate }}
      <fa-icon [icon]="faHeart"></fa-icon>
    </h1>
  </div>

  <div class="split-container">
    <div class="left text">
      <p>
        {{ 'main.preferences.paragraph-1' | translate }}
      </p>
      <p>
        {{ 'main.preferences.paragraph-2' | translate }}
      </p>
    </div>

    <div class="right">
      <app-preferences [preferences]="preferences"></app-preferences>
    </div>
  </div>
</div>
