<!--The content below is only a placeholder and can be replaced.-->
<div class="main">

  <app-titlebar></app-titlebar>
  <app-horizontal-timeline></app-horizontal-timeline>
  <app-timeline></app-timeline>

  <div class="row-entry">
    <h1 class="skillsTitle">
      <fa-icon [icon]="faCog"></fa-icon> Competenties
    </h1>
  </div>
  <div class="split-container">
    <div class="left">
      <app-skills></app-skills>
    </div>
    <div class="right text marginIfSmall">
      <p>

        Frontend ben ik in aanraking gekomen met Angular, Ember en React Native. Met natuurlijk de daarbijhorende HTML/CSS
        (Sass) stack.
      </p>
      <p>
        Mijn ervaring met backend technologie spitst zich toe op Java (custom framework), gekoppeld met een SQL (MySQL/MariaDB) database setup.
      </p>
    </div>
  </div>
  <div class="row-entry" style="margin-top: 5em">
    <h1 class="preferenceTitle">
      Interesses
      <fa-icon [icon]="faHeart"></fa-icon>
    </h1>
  </div>
  <div class="split-container">
    <div class="left text">
        <p>
          Ik heb een sterke feeling voor performante systemen. Ik hou mezelf dan ook graag up to date met de laatste best practices en de populairdere software stacks.
        </p>
        <p>
          Afwisseling is zeker mijn ding, vandaar mijn interesse in de volledige stack. Van een performante database, tot een beveiligde API, tot eye-catching frontend.
        </p>
    </div>
    <div class="right">
      <app-preferences></app-preferences>
    </div>
  </div>
</div>
