<!-- This file kind of got out of hand. Started as a small single pager, -->
<!-- but got to a point that a refactor would be welcome to clean up (diff page 1 & page 2). TODO -->

<div class="main">

  <div class="page-container" id="page-container">
    <div class="page" id="page-1">
      <app-titlebar></app-titlebar>
      <app-horizontal-timeline [timelineEntries]="horizontalTimelineEntries"></app-horizontal-timeline>
      <app-timeline [timelineEntries]="timelineEntries"></app-timeline>
    </div>

    <div class="page" id="page-2">
      <div class="row-entry">
        <h1 class="title skillsTitle">
          <fa-icon [icon]="faCog"></fa-icon>
          {{ 'main.competencies.title' | translate }}
        </h1>
      </div>

      <div class="split-container">
        <div class="left">
          <app-skills [skills]="skills"></app-skills>
        </div>

        <div class="right logos marginIfSmall">
          <div class="logo-container">
            <ng-container *ngFor="let logo of logos">
              <a href="{{logo.url}}" target="_blank"><img src="{{logo.src}}"></a>
            </ng-container>
          </div>

          <div class="description-container">
            <p>
              {{ 'main.competencies.paragraph' | translate }}
            </p>
          </div>
        </div>
      </div>


      <div class="row-entry">
        <h1 class="title projectsTitle">
          <fa-icon [icon]="faHandsHoldingCircle"></fa-icon>
          {{ 'main.projects.title' | translate }}
        </h1>
      </div>

      <div class="split-container">
        <div class="center">
          <app-projects [projects]="projects"></app-projects>
        </div>
      </div>

      <div class="row-entry" style="margin-top: 5em">
        <h1 class="title preferenceTitle">
          {{ 'main.preferences.title' | translate }}
          <fa-icon [icon]="faHeart"></fa-icon>
        </h1>
      </div>

      <div class="split-container">
        <div class="left text">
          <p>
            {{ 'main.preferences.paragraph-1' | translate }}
          </p>
          <p>
            {{ 'main.preferences.paragraph-2' | translate }}
          </p>
        </div>

        <div class="right preferences-scale-on-resize">
          <app-preferences [preferences]="preferences"></app-preferences>
        </div>
      </div>

      <div class="row-entry github-container">
        <p>
          {{'main.github.description' | translate}}
        </p>
        <a href="{{'main.github.link' | translate}}" target="_blank">{{'main.github.link' | translate}}</a>
      </div>
    </div>
  </div>

</div>
