.preference-container {
  height: 300px;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

@media screen and (max-width: 1000px) {
  // ng-deep is deprecated, but there's no clean alternative. See readme for details.
  ::ng-deep {
    .main {
      .pointer {
        z-index: 10;
      }

      .timelineTitle {
        padding-left: 0px;
        width: 100%;
        margin-left: 0;
      }

      .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
      }

      .timeline li {
        padding: 2em 0;
      }

      .direction-l,
      .direction-r {
        float: none;
        width: 100%;

        text-align: center;
      }

      .flag-wrapper {
        text-align: center;
        width: 35%;
      }

      .flag {
        z-index: 15;
      }

      .time-wrapper {
        display: block;
        position: relative;
        z-index: 14;
      }

      .direction-l .time-wrapper {
        float: none;
      }

      .direction-r .time-wrapper {
        float: none;
      }

      .desc {
        position: relative;
        padding: 1em;
        z-index: 15;
        width: 65%;
      }

      .direction-l .desc,
      .direction-r .desc {
        position: relative;
        padding: 1em;

        z-index: 15;
      }
    }
  }
}
