<div class="container">
    <div style="position: absolute;padding-left: 10.5em;padding-top: 2em;">
        <circle size="200" color="#027373CC" label="Fullstack Development" fontSize="1.75"></circle>
    </div>
    <div style="position: absolute;padding-left: 5em;padding-top: 1em;">
        <circle size="130" color="#035159CC" label="Security" fontSize="1.25"></circle>
    </div>
    <div style="position: absolute;padding-left: 1em;padding-top: 6.5em;">
        <circle size="170" color="#07a8a8CC" label="Performance"></circle>
    </div>
    <div style="position: absolute;padding-left: 19em;padding-top: 11em;">
        <circle size="110" color="#02b4b5CC" label="Mobile Applications" fontSize="1"></circle>
    </div>
</div>