<div class="container">
  <div class="title-container">
    <div class="left-container">
      <div class="name">
        <h1>
          Rhino Van Boxelaere
        </h1>
      </div>
      <div class="title">
        <h2>
          Software engineer
        </h2>
      </div>
      <div class="description">
        <p>
          Logica is mijn drijfveer, zo breng ik met een gerichte aanpak en een probleemoplossende gedachtegang projecten
          succesvol
          tot een goed einde. Ik ben betrouwbaar, creatief en vooruitstrevend, met een visie gericht naar de toekomst.
          Ik heb een
          sterke interesse in een combinatie van frontend en backend, met performantie en beveiliging in het
          achterhoofd.
        </p>
      </div>
    </div>
    <div class="right-container">
      <div class="icon mail">
        <a href="mailto: rhinovanboxelaere@outlook.com">rhinovanboxelaere@outlook.com</a>
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </div>
      <div class="icon birthday">
        16/05/1995
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="icon address">
        9255 Buggenhout
        <fa-icon [icon]="faHome"></fa-icon>
      </div>
      <div class="icon mobility">
        Rijbewijs B
        <fa-icon [icon]="faCar"></fa-icon>
      </div>
    </div>
  </div>

  <div class="line-splitter"></div>
</div>
