@import "src/styles/colors";

.container {
  padding-bottom: 75px;
  padding-top: 75px;
  color: $font-color;
}

.toast {
  position: absolute;
  width: 30%;
  left: 35%;
  top: 75px;
  z-index: 10;
  background: white;
}

/* ================ The Timeline ================ */

.title-container {
  display: flex;
  margin: 0 auto;
  width: 833px;
  height: 200px;

  .left-container {
    width: 75%;

    .name {
      color: $main-color;
    }

    .title {
      color: $main-color-dark;
    }
  }

  .right-container {
    width: 40%;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    margin-top: auto;

    .mail a {
      color: $font-color !important;
      padding-right: 5px;
    }

    .ng-fa-icon {
      margin-left: 5px;
    }

    .action-container {
      margin-top: -30px;
      width: 200px;
      display: flex;
      justify-content: end;
      margin-left: auto;

      .download-container {
        cursor: pointer;
        border: 1px grey solid;
        font-weight: bold;
        width: 75px;
        padding: 6px 8px;
        border-radius: 4px;
        text-align: center;
        .spinner-border {
          width: 20px;
          height: 20px;
        }
      }

      .language-selector {
        padding-right: 16px;
      }
    }

  }
}


@media screen and (max-width: 1000px) {
  .title-container {
    flex-direction: column;
    height: 350px;
    width: 100%;

    .right-container {
      width: 100%;
      text-align: center;

      .action-container {
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 8px;
      }
    }

    .left-container {
      width: 100%;
      text-align: center;
    }
  }
}
