<ngb-toast header="{{'components.titlebar.toast.title' | translate}}" *ngIf="showToast" (hide)="showToast = false" [delay]=30000>
  <!-- Content here -->
  {{'components.titlebar.toast.content' | translate}}
</ngb-toast>

<div class="container">
  <div class="title-container">
    <div class="left-container">
      <div class="name">
        <h1>
          {{ 'components.titlebar.name' | translate }}
        </h1>
      </div>
      <div class="title">
        <h2>
          {{ 'components.titlebar.title' | translate }}
        </h2>
      </div>
      <div class="description">
        <p>
          {{ 'components.titlebar.description' | translate}}
        </p>
      </div>
    </div>
    <div class="right-container">
      <div class="action-container">
        <div class="language-selector">
          <div ngbDropdown>
            <button type="button" class="btn btn-outline-secondary" id="languageSelector"
                    ngbDropdownToggle>{{ 'components.titlebar.translate' | translate}}</button>
            <div ngbDropdownMenu aria-labelledby="languageSelector">
              <button ngbDropdownItem (click)="selectLang('en')">English</button>
              <button ngbDropdownItem (click)="selectLang('nl')">Nederlands</button>
            </div>
          </div>
        </div>

        <div class="download-container" (click)="onPdfDownload()">
          <ng-container *ngIf="!pdfRendering else loadingIcon">
            PDF
            <fa-icon [icon]="faDownload"></fa-icon>
          </ng-container>
          <ng-template #loadingIcon>
            <div class="spinner-border">
              <span class="visually-hidden">Loading...</span>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="icon mail">
        <a href="mailto:
          {{ 'components.titlebar.mail' | translate}}">
          {{ 'components.titlebar.mail' | translate}}
        </a>
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </div>
      <div class="icon birthday">
        {{ 'components.titlebar.birthdate' | translate}}
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="icon address">
        {{ 'components.titlebar.city' | translate}}
        <fa-icon [icon]="faHome"></fa-icon>
      </div>
      <div class="icon mobility">
        {{ 'components.titlebar.drivers-license' | translate}}
        <fa-icon [icon]="faCar"></fa-icon>
      </div>
    </div>
  </div>

  <div class="line-splitter"></div>
</div>
