<div class="container">
  <div class="title-container">
    <div class="left-container">
      <div class="name">
        <h1>
          {{ 'components.titlebar.name' | translate }}
        </h1>
      </div>
      <div class="title">
        <h2>
          {{ 'components.titlebar.title' | translate }}
        </h2>
      </div>
      <div class="description">
        <p>
          {{ 'components.titlebar.description' | translate}}
        </p>
      </div>
    </div>
    <div class="right-container">
      <div class="icon mail">
        <a href="mailto:
          {{ 'components.titlebar.mail' | translate}}">
          {{ 'components.titlebar.mail' | translate}}
          </a>
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </div>
      <div class="icon birthday">
        {{ 'components.titlebar.birthdate' | translate}}
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="icon address">
        {{ 'components.titlebar.city' | translate}}
        <fa-icon [icon]="faHome"></fa-icon>
      </div>
      <div class="icon mobility">
        {{ 'components.titlebar.drivers-license' | translate}}
        <fa-icon [icon]="faCar"></fa-icon>
      </div>
    </div>
  </div>

  <div class="line-splitter"></div>
</div>
